body{
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
h3{
    margin-left: 40px;
    text-shadow: 1px 2px black;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    color: white;
   margin: 50px;
  border-radius: 20px;
  box-shadow: 2px 2px black;
}
ul{
    display: flex;
    gap: 10px;
 margin-right: 25px;
}
ul li{
    list-style: none; 
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
     text-shadow: 1px 2px black;
}
ul li a:hover{
    color: black;
    text-shadow: none;
  
}

